---
ref: index
layout: default
lang: pt
---

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="{{ "/images/LogoSOTM2018.png" | relative_url }}" alt="State of the Map LATAM - Lima 2017" class="img-responsive main-logo">
          <h1>A Conferência Latino-americana <span>do OpenStreetMap</span></h1>
          <h2>24 e 25 de setembro</h2>
          <div class="about-button">
            <span class="col-xs-12 col-sm-4 btn-item">
              <a class="btn btn-default" href="https://sotmlatam2018.eventbrite.com.ar" target="_blank" role="button">Inscreva-se</a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default"
              href="https://www.papercall.io/sotm-latam-2018" role="button">
                Envie sua palestra
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Sobre o Evento
    </h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        State of the Map Latam é a conferência anual para todos os mapeadoras e usuários de OpenStreetMap na América Latina. <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2015"> A primeira edição </a> foi realizada em Santiago de Chile em setembro de 2015, <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2016"> a segunda edição </a> foi realizada em São Paulo em novembro de 2016. A <a target="_blank" href="http://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2017#Topics">terceira edição</a> foi realizada em Lima em novembro de 2017.<br> O programa inclui palestras, painéis, workshops e mapatons relacionados ao OpenStreetMap.
      </p>
      <p>
        Além dos mapeadores do OSM, teremos a participação das comunidades Open Data, Comunidades de Software Livre e Open Source, estudantes, pesquisadores, profissionais de geoinformação, ONGs, empresas, instituições públicas, etc.
      </p>
      <p>
        Nossa conferência tem um <a data-toggle="modal" data-target="#code-of-conduct-{{page.lang}}" href="">código de conduta</a>.
      </p>
    </div>
  </div>
</section>

<!--
<section id="program" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Programação
    </h2>
  </div>
  <div ng-app="App" ng-controller="sotm">
    <div ng-repeat="day in days">
      <h3>{[{ day.date.pt }]}</h3>
      <br>
      {% include program.html %}
      <br>
    </div>
  </div>
</section>
-->

<section id="venue" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Local
    </h2>
  </div>

  <div class="container-fluid row">{% include map.html %}</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="thumbnail">
          <div class="caption text-center">
            <h3>Centro de Design Metropolitano</h3>
            <p class="venue">
		O <a target="_blank" href="http://www.buenosaires.gob.ar/cmd">CMD</a>, no coração do Design District, é uma instituição internacional de base pública dedicada a promover a importância econômica, social e cultural do design.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div>
      <br>
      <p>
        Verifique se você precisa de um
        <a href="https://en.wikipedia.org/wiki/Visa_policy_of_Argentina" target="_blank">visto para entrar no Argentina</a>.
      </p>
    </div>
  </div>
</section>

<section id="join-us" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Como participar
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-4 col-md-3 col-md-offset-1">
      <a href="https://www.papercall.io/events/1195">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-check"></span>
          <div class="caption text-center">
            <h3>Registre-se</h3>
            <p>Envie sua conversa proposta até o dia 25 de Agosto</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-comment"></span>
        <div class="caption text-center">
          <h3>Compartilhe</h3>
          <p>Convide seus amigos e ajude na divulgação!</p>
          <div class="row">
            <div class="col-md-6 text-right twitter-col">
              <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=Participa%20del%20State%20of%20the%20Map%20Latam%202018!%20La%20Conferencia%20Latinoamericana%20de%20OpenStreetMap,%2024%20Sep%20-%2025%20Sep%20en%20Buenos%20Aires"
              data-size="large">
                Tweet
              </a>
            </div>
            <div class="col-md-6 text-left fb-col">
              <div class="fb-like" data-href="http://state.osmlatam.org"
              data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <a href="mailto:info@osmlatam.org?subject=Sponsorship">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-briefcase"></span>
          <div class="caption text-center row">
            <h3>Patrocine</h3>
            <p>Promova seu negócio e ajude a comunidade Latam. Escreva-nos para info@osmlatam.org</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<!--
<section id="sponsors" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Nossa conferência tem o suporte de:
    </h2>
    <p>
      <a href="http://telenav.com/">
        <img src="{{ "/images/telenav.png" | prepend: site.baseurl }}" alt="Telenav" width="200">
      </a>
    </p>
  </div>
</section>
-->

{% include modals.html %}
